{% extends 'base.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Around | Account - Password Recovery{% endblock title %}

{% block page_content %}

  <main class="page-wrapper">
    <div class="d-flex flex-column align-items-center position-relative h-100 px-3 pt-5">

      <!-- Home button -->
      <a
        class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 z-2 p-0 mt-3 me-3 mt-sm-4 me-sm-4"
        href="/" data-bs-toggle="tooltip" data-bs-placement="left" title="Back to home"
        aria-label="Back to home">
        <i class="ai-home"></i>
      </a>

      <!-- Content -->
      <div class="mt-auto" style="max-width: 700px;">
        <h1 class="pt-3 pb-2 pb-lg-3">Forgot your password?</h1>
        <p class="pb-2">Change your password in three easy steps. This helps to keep your new password secure.</p>
        <ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
          <li class="d-flex mb-2">
            <span class="text-primary fw-semibold me-2">1.</span>
            Fill in your email address below.
          </li>
          <li class="d-flex mb-2">
            <span class="text-primary fw-semibold me-2">2.</span>
            We'll email you a temporary code.
          </li>
          <li class="d-flex mb-2">
            <span class="text-primary fw-semibold me-2">3.</span>
            Use the code to change your password on our secure website.
          </li>
        </ul>
        <div class="card border-0 bg-primary" data-bs-theme="dark">
          <form class="card-body" method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-light" type="submit">Reset</button>
          </form>
        </div>
      </div>

      <!-- Copyright -->
      <p class="nav w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 700px;"><span class="text-body-secondary">&copy; All rights reserved. Made by</span><a
        class="nav-link d-inline-block p-0 ms-1" href="" target="_blank" rel="noopener">Stackbros</a></p>
    </div>
  </main>
{% endblock page_content %}
