{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block page_content %}

  <main class="page-wrapper">
    <div class="d-flex justify-content-center align-items-center h-100">

      <div class="card px-5 py-4">
        <div class="text-center m-auto">
          <h4 class="text-dark-50 text-center mt-4 fw-bold">Please check your email</h4>

          {% if user.is_authenticated %}
            <p class="text-muted mb-4">
              {% include "account/snippets/already_logged_in.html" %}
            </p>
          {% endif %}

          <p class="text-muted mb-4">
            A email has been send to <b>{{ user.email }}</b>.
            Please check for an email from company and click on the included link to
            reset your password.
          </p>
        </div>

        <form action="/" novalidate>
          <div class="mb-0 text-center">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-home me-1"></i> Back to
              Home
            </button>
          </div>
        </form>
      </div>

    </div>
  </main>

{% endblock page_content %}
