{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Around | Change Password{% endblock title %}

{% block page_content %}

  <main class="page-wrapper">
    <div class="d-flex justify-content-center align-items-center h-100">

      <div class="card px-5 py-4">
        <div class="text-center m-auto">
          <p class="mb-4 mt-3">Your password is now changed.</p>
        </div>

        <form action="/" novalidate>
          <div class="mb-0 text-center">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-home me-1"></i> Back to
              Home
            </button>
          </div>
        </form>
      </div>

    </div>
  </main>

{% endblock page_content %}
