{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Around | Verify Your E-mail Address{% endblock title %}

{% block page_content %}

  <main class="page-wrapper">
    <div class="d-flex justify-content-center align-items-center h-100">

      <div class="card px-5 py-4">
        <h1>Verify Your E-mail Address</h1>

        <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
          process. Please contact us if you do not receive it within a few minutes.</p>
      </div>

    </div>
  </main>

{% endblock page_content %}
