{% load static %}

<script src="{% static 'js/components/sticky-navbar.js' %}"></script>
<script src="{% static 'js/components/animation-on-scroll.js' %}"></script>
<script src="{% static 'js/components/smooth-scroll.js' %}"></script>
<script src="{% static 'js/components/scroll-top-button.js' %}"></script>
<script src="{% static 'js/components/masonry-grid.js' %}"></script>
<script src="{% static 'js/components/password-visibility-toggle.js' %}"></script>
<script src="{% static 'js/components/interactive-map.js' %}"></script>
<script src="{% static 'js/components/parallax.js' %}"></script>
<script src="{% static 'js/components/carousel.js' %}"></script>
<script src="{% static 'js/components/gallery.js' %}"></script>
<script src="{% static 'js/components/charts.js' %}"></script>
<script src="{% static 'js/components/range-slider.js' %}"></script>
<script src="{% static 'js/components/date-picker.js' %}"></script>
<script src="{% static 'js/components/calendar.js' %}"></script>
<script src="{% static 'js/components/form-validation.js' %}"></script>
<script src="{% static 'js/components/input-formatter.js' %}"></script>
<script src="{% static 'js/components/binded-label.js' %}"></script>
<script src="{% static 'js/components/binded-content.js' %}"></script>
<script src="{% static 'js/components/count-input.js' %}"></script>
<script src="{% static 'js/components/input-autofocus.js' %}"></script>
<script src="{% static 'js/components/tooltip.js' %}"></script>
<script src="{% static 'js/components/popover.js' %}"></script>
<script src="{% static 'js/components/toast.js' %}"></script>
<script src="{% static 'js/components/video-button.js' %}"></script>
<script src="{% static 'js/components/price-switch.js' %}"></script>
<script src="{% static 'js/components/checkbox-toggle.js' %}"></script>
<script src="{% static 'js/components/countdown.js' %}"></script>
<script src="{% static 'js/components/subscription-form.js' %}"></script>
<script src="{% static 'js/components/sidebar.js' %}"></script>
