{% extends 'base.html' %}

{% load static i18n %}

{% block html_attribute %}{% endblock html_attribute %}

{% block title %}{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block body_attribute %}class="bg-secondary"{% endblock body_attribute %}

{% block page_content %}

  {% block modal %}{% endblock modal %}

  <main class="page-wrapper">

    {% include 'partials/account-navbar.html' %}

    <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
      <div class="row pt-sm-2 pt-lg-0">

        <aside class="col-lg-3 pe-lg-4 pe-xl-5 mt-n3">
          {% include 'partials/account-sidebar.html' %}
        </aside>

        <!-- Page content -->
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
          {% block content %}{% endblock content %}
        </div>

      </div>
    </div>

    <!-- Divider for dark mode only -->
    <hr class="d-none d-dark-mode-block">

    <!-- Sidebar toggle button -->
    <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#sidebarAccount">
      <i class="ai-menu me-2"></i>
      Account menu
    </button>
  </main>

  {% include 'partials/footer.html' %}

{% endblock page_content %}

{% block extra_javascript %}{% endblock extra_javascript %}
