{% extends 'base.html' %}

{% load static i18n %}

{% block html_attribute %}{% endblock html_attribute %}

{% block title %}{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block body_attribute %}class="bg-secondary"{% endblock body_attribute %}

{% block page_content %}

  {% block modal %}{% endblock modal %}

  {% include 'partials/ui-navbar.html' %}
  {% include 'partials/ui-sidebar.html' %}

  {% block content %}{% endblock content %}

{% endblock page_content %}

{% block extra_javascript %}{% endblock extra_javascript %}
