{% extends 'ui_layout.html' %}

{% load static i18n %}

{% block title %}Around UI Kit | Date / time picker{% endblock title %}

{% block content %}
  <section class="container pt-5 pb-4">
    <div class="row pt-5 pb-2 pb-sm-3">
      <div class="col-lg-9 offset-lg-3 position-relative z-5">
        <h1 class="pt-lg-4">Date / time picker</h1>
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between pb-3">
          <p class="text-body-secondary">A lightweight and powerful date / time picker component.</p>
          <div class="ps-md-4 mb-3">
            <span class="badge bg-warning fs-sm">Around component</span>
          </div>
        </div>


        <div class="pb-4">
          <h6 class="fs-sm">You can alter date / time picker behaviour via flexible data API.</h6>
          <code class="fs-sm">data-datepicker-options = '{}'</code>:
          <h6 class="fs-sm pt-3">
            To see all available options visit:
            <a class="text-break ms-2" href="https://flatpickr.js.org/options/" target="_blank" rel="noopener">https://flatpickr.js.org/options/</a>
          </h6>
          <h6 class="fs-sm">
            Usage examples:
            <a class="text-break ms-2" href="https://flatpickr.js.org/examples/" target="_blank" rel="noopener">https://flatpickr.js.org/examples/</a>
          </h6>
        </div>


        <!-- Date picker-->
        <section class="card border-0 mb-4" id="picker-date">
          <div class="card-body pb-0">
            <h2 class="h4 mb-n2">Date picker</h2>
          </div>
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs flex-nowrap align-items-center mb-n1" role="tablist">
              <li class="nav-item me-3">
                <a class="nav-link px-0 py-2 border-0 rounded-1 active" href="#preview1" data-bs-toggle="tab" role="tab"
                   aria-controls="preview1" aria-selected="true">
                  <i class="ai-show fs-lg opacity-90 me-2"></i>
                  Preview
                </a>
              </li>
              <li class="vr opacity-20 my-3 me-3"></li>
              <li class="nav-item">
                <a class="nav-link px-0 py-2 border-0 rounded-1" href="#html1" data-bs-toggle="tab" role="tab"
                   aria-controls="html1" aria-selected="false">
                  <i class="ai-code fs-xl opacity-90 me-2"></i>
                  HTML
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="preview1" role="tabpanel">
                <div class="mb-1" style="max-width: 22rem;">
                  <label class="form-label">Choose date</label>
                  <div class="position-relative">
                    <input class="form-control date-picker pe-5" type="text" placeholder="Choose date"
                           data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}">
                    <i class="ai-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="html1" role="tabpanel">
                  <pre class="line-numbers"><code class="lang-html">&lt;!-- Date picker --&gt;
&lt;label class=&quot;form-label&quot;&gt;Choose date&lt;/label&gt;
&lt;div class=&quot;position-relative&quot;&gt;
  &lt;input class=&quot;form-control date-picker pe-5&quot; type=&quot;text&quot; placeholder=&quot;Choose date&quot; data-datepicker-options='{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}'&gt;
  &lt;i class=&quot;ai-calendar position-absolute top-50 end-0 translate-middle-y me-3&quot;&gt;&lt;/i&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
        </section>


        <!-- Date and time picker -->
        <section class="card border-0 mb-4" id="picker-date-time">
          <div class="card-body pb-0">
            <h2 class="h4 mb-n2">Date and time picker</h2>
          </div>
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs flex-nowrap align-items-center mb-n1" role="tablist">
              <li class="nav-item me-3">
                <a class="nav-link px-0 py-2 border-0 rounded-1 active" href="#preview2" data-bs-toggle="tab" role="tab"
                   aria-controls="preview2" aria-selected="true">
                  <i class="ai-show fs-lg opacity-90 me-2"></i>
                  Preview
                </a>
              </li>
              <li class="vr opacity-20 my-3 me-3"></li>
              <li class="nav-item">
                <a class="nav-link px-0 py-2 border-0 rounded-1" href="#html2" data-bs-toggle="tab" role="tab"
                   aria-controls="html2" aria-selected="false">
                  <i class="ai-code fs-xl opacity-90 me-2"></i>
                  HTML
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="preview2" role="tabpanel">
                <div class="mb-1" style="max-width: 22rem;">
                  <label class="form-label">Choose date and time</label>
                  <div class="position-relative">
                    <input class="form-control date-picker pe-5" type="text" placeholder="Choose date and time"
                           data-datepicker-options="{&quot;enableTime&quot;: true, &quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y H:i&quot;, &quot;dateFormat&quot;: &quot;Y-m-d H:i&quot;}">
                    <i class="ai-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="html2" role="tabpanel">
                  <pre class="line-numbers"><code class="lang-html">&lt;!-- Date and time picker --&gt;
&lt;label class=&quot;form-label&quot;&gt;Choose date and time&lt;/label&gt;
&lt;div class=&quot;position-relative&quot;&gt;
  &lt;input class=&quot;form-control date-picker pe-5&quot; type=&quot;text&quot; placeholder=&quot;Choose date and time&quot; data-datepicker-options='{&quot;enableTime&quot;: true, &quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y H:i&quot;, &quot;dateFormat&quot;: &quot;Y-m-d H:i&quot;}'&gt;
  &lt;i class=&quot;ai-calendar position-absolute top-50 end-0 translate-middle-y me-3&quot;&gt;&lt;/i&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
        </section>


        <!-- Min date + default date -->
        <section class="card border-0 mb-4" id="picker-min-default-date">
          <div class="card-body pb-0">
            <h2 class="h4 mb-n2">Min date + default date</h2>
          </div>
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs flex-nowrap align-items-center mb-n1" role="tablist">
              <li class="nav-item me-3">
                <a class="nav-link px-0 py-2 border-0 rounded-1 active" href="#preview3" data-bs-toggle="tab" role="tab"
                   aria-controls="preview3" aria-selected="true">
                  <i class="ai-show fs-lg opacity-90 me-2"></i>
                  Preview
                </a>
              </li>
              <li class="vr opacity-20 my-3 me-3"></li>
              <li class="nav-item">
                <a class="nav-link px-0 py-2 border-0 rounded-1" href="#html3" data-bs-toggle="tab" role="tab"
                   aria-controls="html3" aria-selected="false">
                  <i class="ai-code fs-xl opacity-90 me-2"></i>
                  HTML
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="preview3" role="tabpanel">
                <div class="mb-1" style="max-width: 22rem;">
                  <label class="form-label">Min date - Today</label>
                  <div class="position-relative">
                    <input class="form-control date-picker pe-5" type="text" placeholder="Choose date and time"
                           data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;, &quot;defaultDate&quot;: &quot;today&quot;, &quot;minDate&quot;: &quot;today&quot;}">
                    <i class="ai-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="html3" role="tabpanel">
                  <pre class="line-numbers"><code class="lang-html">&lt;!-- Min date + default date - Today --&gt;
&lt;label class=&quot;form-label&quot;&gt;Min date - Today&lt;/label&gt;
&lt;div class=&quot;position-relative&quot;&gt;
  &lt;input class=&quot;form-control date-picker pe-5&quot; type=&quot;text&quot; placeholder=&quot;Choose date and time&quot; data-datepicker-options='{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;, &quot;defaultDate&quot;: &quot;today&quot;, &quot;minDate&quot;: &quot;today&quot;}'&gt;
  &lt;i class=&quot;ai-calendar position-absolute top-50 end-0 translate-middle-y me-3&quot;&gt;&lt;/i&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
        </section>


        <!-- Date range -->
        <section class="card border-0 mb-4" id="picker-date-range">
          <div class="card-body pb-0">
            <h2 class="h4 mb-n2">Date range</h2>
          </div>
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs flex-nowrap align-items-center mb-n1" role="tablist">
              <li class="nav-item me-3">
                <a class="nav-link px-0 py-2 border-0 rounded-1 active" href="#preview4" data-bs-toggle="tab" role="tab"
                   aria-controls="preview4" aria-selected="true">
                  <i class="ai-show fs-lg opacity-90 me-2"></i>
                  Preview
                </a>
              </li>
              <li class="vr opacity-20 my-3 me-3"></li>
              <li class="nav-item">
                <a class="nav-link px-0 py-2 border-0 rounded-1" href="#html4" data-bs-toggle="tab" role="tab"
                   aria-controls="html4" aria-selected="false">
                  <i class="ai-code fs-xl opacity-90 me-2"></i>
                  HTML
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="preview4" role="tabpanel">
                <div class="mb-1" style="max-width: 30rem;">
                  <label class="form-label">Date range</label>
                  <div class="input-group">
                      <span class="input-group-text">
                        <i class="ai-calendar"></i>
                      </span>
                    <input class="form-control date-picker date-range" type="text" placeholder="From date"
                           data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}"
                           data-linked-input="#end-date">
                    <span class="border-end border-input"></span>
                    <input class="form-control date-picker" type="text" placeholder="To date"
                           data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}"
                           id="end-date">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="html4" role="tabpanel">
                  <pre class="line-numbers"><code class="lang-html">&lt;!-- Date range --&gt;
&lt;label&gt;Date range&lt;/label&gt;
&lt;div class=&quot;input-group&quot;&gt;
  &lt;span class=&quot;input-group-text&quot;&gt;
    &lt;i class=&quot;ai-calendar&quot;&gt;&lt;/i&gt;
  &lt;/span&gt;
  &lt;input class=&quot;form-control date-picker date-range&quot; type=&quot;text&quot; placeholder=&quot;From date&quot; data-datepicker-options='{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}' data-linked-input=&quot;#end-date&quot;&gt;
  &lt;span class=&quot;border-end border-input&quot;&gt;&lt;/span&gt;
  &lt;input class=&quot;form-control date-picker&quot; type=&quot;text&quot; placeholder=&quot;To date&quot; data-datepicker-options='{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}' id=&quot;end-date&quot;&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
{% endblock content %}
